*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.board{
    height: 650px;
    width: 650px;
    border: 5px double green;
    display: grid;
    grid-template-columns: 245px 150px 245px;
    grid-template-rows: 245px 150px 245px;
}

.home{
    position: relative;
}

.home.red{
    background-color: red;
}
.home.green{
    background-color: green;
}
.home.yellow{
    background-color: yellow;
}
.home.blue{
    background-color: blue;
}
.street.green , .street.blue{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 2px;
    border: 1px solid black;
    
}
.street.red, .street.yellow{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    gap: 2px;
    border: 1px solid black;
    
}
.item{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.center{
    border: 1px solid black;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: pink;
    border-radius: 50%;
    transition: .3s;
    position: absolute;
}

.init.dot_red_1, .init.dot_blue_1, .init.dot_green_1, .init.dot_yellow_1{
    top: 30px;
    left: 30px
}
.init.dot_red_2, .init.dot_blue_2, .init.dot_green_2, .init.dot_yellow_2{
    top: 30px;
    right: 30px
}

.init.dot_red_3, .init.dot_blue_3, .init.dot_green_3, .init.dot_yellow_3{
    bottom: 30px;
    left: 30px
}

.init.dot_red_4, .init.dot_blue_4, .init.dot_green_4, .init.dot_yellow_4{
    bottom: 30px;
    right: 30px
}


